<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="about-head">
<h4>What We're About.</h4>
</div>

    <div class="jumbotron-about">
      <div class="container">
        <h1>Our mission is to help you learn everything you ever wanted. Together.</h1>
      </div>
    </div>

    <div class="container-about">
      <!-- Example row of columns -->
      <div class="row">
        <div class="container">
          <p><img src="https://goo.gl/Zuwik9" id="logo" /></p>
          <p>was created because we’ve been there too. We’ve had dreams of learning something but never being able to complete the process because we were doing it alone. Education is a continual process, and although there are some that can learn individually, we are social beings, who get motivation and determination through accountability. So that’s why we created {ko}learn. Because we know we are stronger in numbers. We know that a journey alone is a grueling task. We know that our journey is made whole when 
we travel as one. </p>

      
          <p><img src="https://goo.gl/Zuwik9" id="logo" /></p>
          <p>‘s vision is to create a platform to encourage community learning. Be it 
one on one or multiple people, we want to connect people who have 
the same desire to learn something new to be able to connect and strive 
for the common goal.</p>
        </div>
      </div>
</div>