
<div class="about-head">
   <h4>Contact Us</h4>
</div>
<div class="jumbotron-about">
   <div class="container">
      <h1>We are here to Help.</h1>
   </div>
</div>
<section class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="col-xs-12 col-sm-3">
            <h4>Contact Us</h4>
            -
            <p><b>Address:</b><br>
               350 5th Ave, 33rd/34th Streets (West Side of 5th Avenue)<br>
               New York, NY 10118-3304<br>USA
            </p>
            <p><b>Phone:</b><br>
               New York: (+1)-555-55-LEARN
            </p>
            <p><b>Email</b><br>
               info@kolearn.com
            </p>
         </div>
         <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
            <div class="wpcf7" id="wpcf7-f261-o1" lang="en-US" dir="ltr">
               <div class="screen-reader-response"></div>
               <form name="" action="/contact/#wpcf7-f261-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                  <div style="display: none;">
                     <input type="hidden" name="_wpcf7" value="261" />
                     <input type="hidden" name="_wpcf7_version" value="4.1.1" />
                     <input type="hidden" name="_wpcf7_locale" value="en_US" />
                     <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f261-o1" />
                     <input type="hidden" name="_wpnonce" value="e410edea51" />
                  </div>
                  <h4>Write to us</h4>
                  <p>-</p>
                  <div class="row">
                     <div class="col-sm-6">
                        <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="your-first-name" aria-required="true" aria-invalid="false" placeholder="First Name" /></span>
                     </div>
                     <div class="col-sm-6">
                        <span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="your-last-name" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6">
                        <span class="wpcf7-form-control-wrap your-phone-number"><input type="tel" name="your-phone-number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control" id="your-phone-number" aria-invalid="false" placeholder="Phone Number" /></span>
                     </div>
                     <div class="col-sm-6">
                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="your-email" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" id="message" aria-invalid="false" placeholder="Message"></textarea></span></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <input type="submit" value="Send" class="btn" id="submit" />
                     </div>
                  </div>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>