<!-- navbar -->
<%= render 'nav' %>
<!-- navbar -->


<div class="main">
    <div class="container">
        <h1>Share Your Knowledge</h1>
        <h3>Earn money sharing knowledge with the world.</h3>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
    </div>
</div>



