
<div class="main">
    <div class="container">
    	<div class="user-input">
        <h1>Share Your Knowledge</h1>
        <h3>Earn money sharing knowledge with the world.</h3>

		<%= render 'form' %>
	</div>
    </div>
</div>



