/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



img {
  height: 40px;
}

.user-input {
  text-align: center;
}

.user-input h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.form-control {
  width: 300px;
  border-radius: 0px;
  margin: auto;
  text-align: left;
}

.form-inline {
  margin-top: 100px;
}

.login-form {
  padding: 30px;
  margin: auto;
  width: 345px;
}

#signup-user {
  text-align: center;
}

#notice {
  color: red;
  text-align: center;
}

#notice p {
  font-weight: 700;
}

#signup-error {
  margin-top: 25px;
}

#learn {
  width: 225px;
} 

/* Button CSS BEGIN */

.btn {
  text-decoration: none;
  border-radius: 0px;
  color: #fff;
}

.btn-search {  
  background-color: #d00a88;
  padding: 7px 20px;
  margin: 0 auto;
  color: #fff;
  border: none;
}

#btn-how {
  border: none;
  padding: 15px 10px;
  background: rgba(255, 255, 255, .7);
  color: #fff;
}

#btn-how:hover {
  color: #d00a88;
  text-decoration: none;
}

.btn-login {
  background-color: #d00a88;
  color: #fff;
  border: none;
  width: 300px;
  height: 35px; 
}

/* Button CSS END */


/* Jumbotron CSS BEGIN */

.jumbotron {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/zryxfz') no-repeat center center;
  background-size: cover;
  height: 500px;
  margin-top: -170px;
}

.jumbotron h1 {
  font-weight: 700;
  margin-top: 125px;
  text-transform: uppercase;
}

.jumbotron p {
  font-weight: 300;
  margin-bottom: 25px;
}

.jumbotron-about {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/BdeJuM') no-repeat center center;
  background-size: cover;
  height: 300px;
}

.jumbotron-about h1 {
  font-weight: 700;
  margin-top: 100px;
  text-transform: capitalize;
  font-size: 50px;
}

/* Jumbotron CSS END */

.about-head h4 {
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 50px;
}

.container-about p {
  font-size: 25px;
  line-height: 50px;
  font-weight: 100px;
}

.navbar-default { 
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  padding-top: 0px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 0px;
  padding-top: 0px;
}

.navbar {
  margin: auto;
}

.navbar-default .navbar-nav > li > a {
  color: #CB0E88;
}


/* Footer CSS BEGIN */

.footer {
  background-image: url('https://goo.gl/9tlO25');
  color: #fff;
  padding: 40px 0 20px 0;
  text-align: center;
  height: 300px;
}

.footer img {
  height: 20px;
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
    padding-top: 50px;
}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;

}

.footer li {
  font-size: inherit;
  display: inline-block;
  margin: 10px;
}

/* Footer CSS END */
