// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.navbar ul {
  margin-top: 10px;
    display: block;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 20px;
  border-radius: 0;
}

.navbar .dropdown-menu li {
  display: block;
  margin: 0;
  padding: 3px 10px;
}


.navbar li {
    display: inline;
    padding: 8px;
    text-transform: capitalize;
    color: black;
}

.navbar ul {
  margin-top: 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.course-info {
    text-align: center;
    color: #000;
    background-color: #fff;
    border: 1px lightgray;
    
}

.course-info h1 {
  font-weight: 700;
    text-transform: uppercase;

}

.course-info p {
    padding-bottom: 100px;
}

.new-course {
    text-align: center;
    padding-bottom: 50px;
}

.col-md-3 ul {
    display: inherit;
}


#course_name {
  padding: 15px 18px;
  font-size: 15px;
  margin: 10px;
  display: inline-block;
  color: black;
  border: 2px inset;
  text-align: left;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.3;
-webkit-font-smoothing: antialiased;
}

#course_category {
   padding: 15px 18px;
  font-size: 15px;
  margin: 10px;
  display: inline-block;
  color: black;
  border: 2px inset;
  text-align: left;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.3;
-webkit-font-smoothing: antialiased;
  
}

#course_city_name {
   padding: 15px 18px;
  font-size: 15px;
  margin: 10px;
  display: inline-block;
  color: black;
  border: 2px inset;
  text-align: left;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
-webkit-font-smoothing: antialiased;
}

#course_description {
   padding: 15px 18px;
  font-size: 15px;
  margin: 10px;
  display: inline-block;
  color: black;
  border: 2px inset;
  text-align: left;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.3;
-webkit-font-smoothing: antialiased;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  padding: 15px 18px;
  margin: 10px;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: #d00a88  ;
}