// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-md-3 {
   float: right;
    
}
.top .ul {
    display:inline;
}

.top li {
    display: inline;
    padding: 8px;
    margin: 10px;
    margin-left: 0px;
    text-transform: capitalize;
    color: #fff;
}

.top ul {
  margin-top: 10px;
    cursor: pointer;

    
}

.top .dropdown2  {
  position: relative;
}

.top .dropdown-menu2 {
  position: absolute;
  top: 20px;
  border-radius: 0;
    
}

.top .dropdown-menu2 li {
  display: block;
  margin: 0;
  padding: 3px 10px;
 
}
.nav-item {
    display: inline;
}

.dropdown p {
    display: inline;
}

a {
  color: #fff;
  text-decoration: none;
}


/* Discovery Section CSS */

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.row {
    display: inline;
}



















