<div class="footer">
  <div class="container">
    <h3>Company</h3>
      <ul>
        <li>About</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>Help</li>
        <li>Policies</li>
        <li>Terms & Privacy</li>
      </ul>
      <p>&copy; 2015 <img src="https://36.media.tumblr.com/59f6145c43c8897ef734255b47091db3/tumblr_nrkgqmk1CF1qlcwy7o1_r1_1280.png" id="logo" /></p>
  </div>
</div>